
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div> 
        <h2>Error en el servidor, vuelva a intentarlo en unos minutos</h2>
    </div>
</body>
</html>
