@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
          @Html.ActionLink("Listado de personas","ListadoPersonas","Home")  <!--("Texto", "Método del actionResult", "Controlador del método")
                                                                                NOTA: EL ACTIONRESULT DEBE LLAMARSE IGUAL QUE LA VISTA-->
    </div>
</body>
</html>
