@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@ViewData["primeraVez"] </p>
        @Html.ActionLink("Recargar", "Index", "Home",new { miPrimeraVez = false } ,null)
    </div>
</body>
</html>
