@model SGExamenPrimeraEvEj1.ViewModel.ListadoCursosConIdCursoSeleccionado

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Cursos</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.idCursoSeleccionado, new SelectList(Model.listado, "idCurso", "nombreCurso"))
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ir a listado" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</body>
</html>
