
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <ul>
            @for (int i = 0; i < 10; i++)
            {
                <li>Producto @i</li>
            }
        </ul>
    </div>
</body>
</html>
