
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>   
</head>
<body>
    <div id="divPrincipal"> 
        Ejemplo AJAX
        <script src="~/Scripts/Model.js"></script>
        <script src="~/Scripts/AJAX.js"></script>
        <div id="listadoPokemonJSON">

            <div id="listadoPokemon">

            </div>
            
        </div>
    </div>
</body>
</html>
