
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>   
</head>
<body>
    <div id="divPrincipal"> 
        Ejemplo AJAX
        <input type="text" id="idPokemon"/><input type="button" id="borrarPokemon"/><p id="textoError"> </p>
        <script src="~/Scripts/Model.js"></script>
        <script src="~/Scripts/AJAX.js"></script>
        <div id="listadoPokemonJSON">
        </div>
        <div id="listadoPokemon">
        </div>
    </div>
</body>
</html>
